article{
    margin-top: 15%;
    display: grid;
    place-items: center;
    height: 60px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

div{
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: inset 10px 10px 10px #999, inset -10px -10px 10px #fff;
    width: 250px;
    aspect-ratio: 1;
    transition: transform 1s;
}

img{
    position: absolute;
    width: 16%;
    translate: -50% -50%;
    transition: transform 1s;
    inset: 50%;
}

div:hover{
    transform: translateZ(100px) rotateX(75deg);
    box-shadow: 10px 10px 10px #999, -10px -10px 10px #fff;
}

div:hover + img{
    transform: translateY(-90px) translateZ(250px);
}